@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

/*****************************************************BANNER**************************************************/

.banner {
	background-image: url(/src/Images/Banner.webp);
	height: 700px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-position: center center;
}

.banner-layer {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 1;
	overflow: hidden;
}

/*****************************************************BUTTON**************************************************/

.sf-button {
	background-color: #06f561;
	color: #fff;
	border-radius: 50px;
	border: none;
	text-align: center;
	height: fit-content;
	width: fit-content;
	padding: 8px 25px;
	color: #000;
	font-size: large;
	font-weight: 600;
}

/*****************************************************HOME**************************************************/

.Home {
	height: 100vh;
}

.home-title {
	font-weight: 700;
}

/****************************************************************SIGN IN****************************************************************/

.signin-card {
	width: 350px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border: #fff;
}
.signin-card h2 {
	/* color: #1693ab; */
	font-weight: 700;
	font-size: 32px;
	color: #000;
}

.signup-link {
	text-decoration: none;
	color: #1693ab;
}

/****************************************************************SIGN UP****************************************************************/

.signup {
	height: 100vh;
}

.signup-card {
	margin: auto;
	width: 350px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border: #fff;
}

.signup-card h2 {
	/* color: #1693ab; */
	font-weight: 700;
	font-size: 32px;
	color: #000;
}

.signin-link {
	text-decoration: none;
	color: #1693ab;
}

/*************************************************************CONTACT*************************************************************/

.fl-contact-form input,
textarea {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input {
	height: 50px;
	border: 1px solid #a8a3a3;
}

textarea {
	height: 150px;
	border: 1px solid #a8a3a3;
}

.form-control:focus {
	border-color: #000000;
	box-shadow: none;
}
